* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.main-banner {
    max-width: 100%;
    display: block;
}

.top-infocard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 66px;
    padding-bottom: 106px;
}

.top-infocard-text {
    max-width: 766px;
    text-align: center;
}

.top-infocard-subtitle {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 2px;
}
.top-infocard-title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.top-infocard-description {
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 76px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
    background: #FFFFFF ;
    
}
.top-card {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 30px;
}

.top-card-description {
    max-width: 250px;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
}

.niddle-banners {
    height: 442px;
    background: #E0E0E0;
}

.niddle-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    max-width: 1732px;
    margin: 0 auto;
    position: relative;
    bottom: -63px;
}
.niddle-banner-image {
    width: 100%;
    display: block;
}





.bottom-cards {
  margin-top: 280px;
}

.bottom-cards-wrapper {
    display: grid;
    grid-template-columns:repeat(4, max-content);
    justify-content: center;
    gap: 15px;
    padding: 40px 70px;
    background: #FFFFFF;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); 
}

.bottom-card-image {
    display: block;
    padding-bottom: 25px;
}

.bottom-card-description { 
    text-align: center;
    max-width: 367px;
    padding-top: 26px;
}


.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottom-infocard-title {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 18px;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    max-width: 420px;
    height: 123px;
    margin-bottom: 32px;

}

.bottom-infocard-image {
    width: 1340px;
    margin-top: 34px;
    margin-bottom: 104px;

    
}
.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    margin-top: 104px;
    background: #000000;
}
.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}
.footer-icon {
    margin: 0 8px;
}
.footer-text {
    text-transform: uppercase;
    color: #BDBDBD;
}



/** Media **/

@media screen and (max-width: 515px) {
    .main-banner-desktop {
        display: none;
    }
    .niddle-banner-image {
        display: none;
    }
    .niddle-banner02 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        position: relative;
        top: 48px;
    }
    .niddle-banner-image-mobile{
        max-width: 177px;
    }

    .niddle-banner-image-mobile.mobile {

        max-width: 368px;
    }      
    
    .bottom-infocard-image {
        
        max-width: 380px;
    }
    .bottom-infocard-image-mobile {
        width: 100%;
    }
}   

@media screen and (max-width: 410px) {
    .niddle-banner-image-mobile {
        max-width: 130px;
    }
    .niddle-banner-image-mobile.mobile {
        max-width: 270px;
    }
}


@media screen and (max-width: 455px) {
    .bottom-infocard-title {
        font-size: 26px;
    }
    .bottom-infocard-description {
        font-size: 12px;
    }

}




@media screen and (min-width: 514px) {
    .main-banner-mobile {
        display: none;
    }
    .niddle-banner-image-mobile {
        display: none;
    }
    .niddle-banner-image-mobile.mobile {
        display: none;
    }
    .niddle-banner02 {
        display: none;
    }
  
}


@media screen and (max-width: 951px) {
    .bottom-infocard-image {
        display: none;
    }
    .bottom-infocard-image-mobile {
        max-width: 414px;
        width: 100%;
    }

}

@media screen and (min-width: 950px) {
    .bottom-infocard-image-mobile {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .footer-text {
        max-width: 334px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }
    
   
    .bottom-card-description {
        font-size: 14px;
    }
    .bottom-infocard-image {
        width:622px ;
        margin-top: 54px;
    }
    
    .bottom-infocard-description {
    
        padding: 15px 32px 104px;
        margin-bottom: 84px;
    }
}
@media screen and (max-width: 835px) {
    .bottom-cards-wrapper {
        grid-template-columns: 1fr;
        padding: 36px 26px;
        justify-items: center;
        margin-bottom: 80px;
    }   
}    


@media screen and (min-width: 514px) and (max-width: 800px) {
    .niddle-banners {
        height: 210px;
    }
}

@media screen and (min-width: 767px) {
    .bottom-card {
        max-width: 432px;
        height: 332px;
    }
    
}

@media screen and (max-width: 992px) {
    .top-infocard {
        padding: 76px 26px 106px;
    }
    
   
}
@media screen and (max-width: 1355px) {
    .bottom-infocard-image {
        width: 940px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
        
        
    }
    
    .niddle-banner-image {
        grid-template-columns: repeat(2, max-content);
        
    }

    
    
}

@media screen and (min-width: 836px) and (max-width: 1870px) {
    .bottom-cards-wrapper {
        grid-template-columns:repeat(2, max-content);
        justify-content: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .botton-card-description {
        max-width: 280px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        max-width: 520px;
        margin-right: 70px;
    }
    
}  
